body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('bg.png');
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 400px;
    height: auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: calc(100% - 20px); /* Adjust the value as needed */
    padding: 8px;
    margin-bottom: 20px;
}

button {
    background-color: #45a09d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a09d;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}

#foodResult {
    margin-top: 20px;
    font-weight: bold;
}
/* Create nav to the top of the screen */
/* Path: styles.css */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    font-size: 20px;
    background-color: white;
    height: auto;
    text-align: center;
    width: 100%;
}
.current{
    border-bottom: black 4px solid;
    padding: 11.5px;
}
nav a {
    color: #122F68;
    /* space between each link */
    text-decoration: none;
    margin: 5px;
}
